.twelve.columns
  %h2.discussion-title Intrinsicly aggregate alternative bandwidth after pandemic
  .discussion
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'me@r38y.com', size: 100
        = link_to 'Edit', ''
      %div.who-role Host
    .ten.columns.omega.content
      %p <strong>Randy S.:</strong> Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.

      %ol
        %li Intrinsicly aggregate alternative bandwidth after pandemic internal or "organic" sources.
        %li Distinctively leverage existing resource-leveling ideas with enabled expertise.
        %li Synergistically recaptiualize seamless information and client-focused architectures.

      %p Intrinsicly aggregate alternative bandwidth <strong>after pandemic internal or "organic"</strong> sources. Distinctively leverage existing resource-leveling ideas with enabled expertise. Synergistically recaptiualize seamless information and client-focused architectures.

      %ul
        %li Intrinsicly aggregate alternative bandwidth after pandemic internal or "organic" sources.
        %li Distinctively leverage existing resource-leveling ideas with enabled expertise.
        %li Synergistically recaptiualize seamless information and client-focused architectures.

      %blockquote
        %p Intrinsicly aggregate alternative bandwidth after pandemic internal or "organic" sources. Distinctively leverage existing resource-leveling ideas with enabled expertise. Synergistically recaptiualize seamless information and client-focused architectures.

  .reply#reply-1
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'john@tikaro.net', size: 100
      %div.who-role Member
    .ten.columns.omega.content
      %p <strong>John Y.:</strong> Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.

      %p Intrinsicly aggregate alternative bandwidth after pandemic internal or "organic" sources. Distinctively leverage existing resource-leveling ideas with enabled expertise. Synergistically recaptiualize seamless information and client-focused architectures.
  .reply#reply-2
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'rdrush@gmail.com', size: 100
    .ten.columns.omega.content
      %p <strong>rdrush@gmail.com:</strong> Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.

      %p Intrinsicly aggregate alternative bandwidth after pandemic internal or "organic" sources. Distinctively leverage existing resource-leveling ideas with enabled expertise. Synergistically recaptiualize seamless information and client-focused architectures.
  .reply#reply-3
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'wpoole@gmail.com', size: 100
    .ten.columns.omega.content
      %p <strong>wpoole@gmail.com:</strong> Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.
  .reply#reply-4
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'kate.young@gmail.com', size: 100
    .ten.columns.omega.content
      %p <strong>Kate Y.:</strong> Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.
      %p Synergistically facilitate premium total linkage rather than team driven meta-services. Energistically leverage other's leading-edge e-tailers whereas synergistic catalysts for change. Energistically predominate value-added users via functionalized expertise.
  .reply
    .two.columns.alpha.who
      .who-img
        = gravatar_image_tag 'me@r38y.com', size: 100
        = link_to 'Edit', ''
      %div.who-role Host
    .ten.columns.omega.content
      %form
        %ul
          %li
            = text_area_tag :reply, '', placeholder: 'Your reply'
          %li
            = file_field_tag :file
          %li
            = button_tag "Reply", type: 'submit', class: 'button-primary'

.four.columns
  .participants
    %ul
      %li <strong>Randy Schmidt</strong> <em>host</em>
      %li <strong>John Young</strong> <em>member</em>
      %li rdrush@gmail.com
      %li Kate Young
      %li wpoole@gmail.com
      %li jason.tremblay@gmail.com
      %li
        %form
          = text_field_tag :email, '', placeholder: 'Invite someone by email', id: 'new-participant'

  %p.ad Ever have an email discussion get messy and really confusing? Disko is the <em>Simplest</em> way to pull a discussion out of email and make it easy to follow.
